@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,400i,700,700i,900,900i&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to left,#C8CFD0 50%,#468778);
    color: #001D2B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.menu-toggler {
    display: none;
}

.page {
    display: grid;
    width: 95%;
    height: 100vh;
    grid-template: "genre title" 120px "genre books" 1fr / 2fr 7fr;
}

.container {
    display: contents;
}

.loading {
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 19vh 48vw;
}

.title {
    grid-area: title;
    border-bottom: 10px solid #C8CFD0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding-right: 1.5em;
    justify-content: space-between;
}

.title-header {
    display: flex;
    align-items: flex-end;
}

.title h1 {
    font-weight: 300;
    font-style: italic;
    font-size: 1.8em;
    margin: 0.5em;
    padding-bottom: 0.1em;
    color: #468778;
}

.title .date {
    font-size: 0.7em;
    color: #468778;
    justify-self: flex-end;
    min-width: 125px;
}

.visited {
    grid-column-end: 3;
    font-size: 0.8em;
    color: #468778;
    text-align: right;
    margin: 0 0 1em 0;
}

/*====GENRELIST=====================================================================*/

.genrelist {
    grid-area: genre;
    max-height: 75vh;
    overflow: hidden;
    margin: 120px 0 0 0;
    font-weight: 700;
    margin-right: 0.15em;
    display: flex;
    flex-flow: column;
    /*box-shadow: #468778 0 15px 15px;*/
}

.genrelist-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #76A199;
    box-shadow: #32695c 0 -15px 100px;
}

.genrelist-category {
    color: #32695c;
    text-align: left;
    padding: 1em 0.5em 1em 3rem;
    font-style: italic;
    letter-spacing: 1px;
}
/*=SEARCH BEGIN====================*/
.genrelist .search {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    transition: width 0.5s cubic-bezier(.54,0,.52,.68);
    width: 30px;
    height: 30px;
    background: #C8CFD0;
    box-sizing: border-box;
    border-radius: 15px;
    margin-right: 1em;
}

.genrelist .search-input {
    background-color: #C8CFD0;
    color: #001D2B;
    height: 28px;
    outline: 0;
    border: 0;
    font-size: 0.8em;
    border-radius: 15px;
    width: 0;
}

::-webkit-input-placeholder {
    color: #C8CFD0;
}

.genrelist .search-button {
    box-sizing: border-box;
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #468778;
    text-align: center;
    font-size: 0.5em;
    transition: all 0.8s cubic-bezier(.54,0,.52,.68);
}

.search:hover{
    width: 160px;
    padding-left: 15px;
    cursor: pointer;
}

.search:hover .search-input{
    width: 100%;
}

.search:hover .search-button{
    color: white;
}

.search:hover ::-webkit-input-placeholder  {
    color: #32695c;
}

/*=SEARCH END====================*/

.genrelist ul{
    padding: 0;
    margin: 0;
}

.genrelist li {
    margin: 0;
    padding: 0.8rem 0 0.8rem 3rem;
    font-size: 0.75em;
    transition: all 0.3s ease-out;
    /* box-shadow: #76A199 0 3px 3px; */
}

.genrelist li:first-child {
    padding-top: 2em;
}

.genrelist li:last-child {
    padding-bottom: 2em;
}

.genrelist li:hover{
    color: #D4D5D8;
    background-color: #468778;
}

.genrelist-icon {
    color: #32695c;
    font-size: 1.5em;
    align-self: center;
    padding: 0.5em 0;

}

/*====WELCOME=====================================================================*/

.welcome {
    grid-area: books;
    background-color: #001D2B;
    color: #D4D5D8;
    padding-left: 10%;
    padding-top: 5%;
    font-size: 1em;
    font-weight: 900;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 2em 0;
    box-shadow: #32695c -5px 2px 15px;
    background-image: url("../images/nyt_api-books.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 75%;
}

.welcome p {
    margin: 0;
    width: 40%;
    border-bottom: darkgoldenrod 1px solid;
    padding: 1em 0;
}

.welcome p:first-child {
    border-top: darkgoldenrod 1px solid;
}

/*====BOOKS=====================================================================*/

.books {
    grid-area: books;
    background-color: #001D2B;
    margin: 0 0 2em 0;
    box-shadow: #32695c -5px 2px 15px;
    color: #D4D5D8;
}

.books-header {
    text-align: left;
    border-bottom: 2px solid #C8CFD0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.subtitle {
    padding: 1em 0 1em 8vw;
    margin: 0;
    color: darkgoldenrod;
    font-style: italic;
    letter-spacing: 1px;
}

.books-view {
    width: 150px;
    text-align: center;
}

.books-view-icon {
    margin: 0 0.5em;
    padding: 0.5em;
    font-size: 1em;
    transition: all 0.3s cubic-bezier(.54,0,.52,.68);
    border-radius: 50%;
}

.books-view-icon:hover {
    color: #001D2B;
    background-color: darkgoldenrod;
}
/*====BOOKLIST=====================================================================*/

.booklist-result {
    display: contents;
}

.booklist li {
    padding: 1.25em 0 1.25em 8vw;
    display: grid;
    grid-template: "rank main main button " auto ". img body body" auto/ 8vw 160px 1fr 150px;
    border-width: 1px;
    border-style: solid;
    border-image-source: linear-gradient(to left,#001D2B 12%, #76A199);
    border-image-slice: 1;
    font-size: 0.85em;
    letter-spacing: 1px;
}

.booklist li:last-child {
    border: none;
}
.book-rank {
    grid-area: rank;
    font-weight: 900;
    color: #76A199;
    align-self: center;
}

.book-main {
    grid-area: main;
    align-self: center;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}
.book-title {
    font-weight: 900;
    padding-right: 0.5em;
}

.book-author {
    color: #76A199;
    font-style: italic;
}

.bookdetail {
    display: contents;
}

.bookdetail-button {
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0;
    grid-area: button;
    align-self: center;
    justify-self: center;
    color: #76A199;
    background-color: #001D2B;
    letter-spacing: 0.5px;
    height: 1.6em;
    outline: 0;
    padding: 0.2em;
    width: 70px;
    border: 1px solid #001D2B;
    border-radius: 10px;
    transition: width 0.3s cubic-bezier(.61,.2,.43,.98), background-color 0.2s cubic-bezier(.54,.01,.87,1), border 0.2s cubic-bezier(.54,.01,.87,1);
}

.bookdetail-button:hover {
    width: 100px;
    color: #001D2B;
    background-color: darkgoldenrod;
    /*background-image: linear-gradient(175deg, #D4D5D8 65%,#468778);*/
    border: 1px solid darkgoldenrod;
}

.bookdetail-toggle {
    display: contents;
    font-style: italic;
    color: #76A199;
}

.bookdetail-img {
    grid-area: img;
    width: 75%;
    margin: 2em 0 1.5em 0;
    padding: 1em;
    border: 1px solid darkgoldenrod;
}

.bookdetail-body {
    grid-area: body;
    padding-top: 2.5em;
    line-height: 1.3em;
    letter-spacing: 1px;
}

.bookdetail-body p {
     margin: 0.5em 0;
     padding: 0;
     color: #76A199;
     max-width: 50ch;
 }

.bookdetail-body p:last-child {
    margin: 3em 0;
}

.bookdetail-head {
    color: darkgoldenrod !important;
    font-size: 0.8em;
    font-weight: 900;
    text-transform: uppercase;
    margin-right: 0.25em;
    position: relative;
}

.bookdetail-body a{
    text-decoration: none;
    color: darkgoldenrod;
    font-size: 0.8em;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.2s cubic-bezier(.61,.2,.43,.98);
}

.bookdetail-body a:hover {
    color: #D4D5D8;
}

/*====BOOKMOSAIC=====================================================================*/

.bookmosaic {
    display: contents;
}

.bookmosaic ul {
    box-sizing: border-box;
    padding: 1.5em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
}

.bookmosaic li {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 1em;
    border: 1px solid #76A199;
    border-radius: 3px;
    font-size: 0.85em;
    letter-spacing: 1px;
    /*box-shadow: #323872 -2px 2px 5px;*/
}

.bookmosaic-rank {
    font-weight: 900;
    color: #76A199;
    align-self: flex-start;
    padding: 0.5em 0 0 0.75em;
}

.bookmosaic-img {
    grid-area: img;
    height: 210px;
    margin-bottom: 0.75em;
    padding: 0.5em;
    border: 1px solid darkgoldenrod;
}

.bookmosaic .book-title {
    font-size: 1.2em !important;
    margin: 1em 0.5em 0 0.5em;
    text-align: center;
}

.bookmosaic .book-author {
    margin: 0 0.5em 2em 0.5em;
    text-align: center;
}

.bookmosaic p {
    margin: 0.25em 1.5em;
    line-height: 1.4em;
    padding: 0;
    color: #76A199;
    text-align: center;
}

.bookmosaic a{
    margin-top: 1em;
    text-decoration: none;
    color: darkgoldenrod;
    font-size: 0.8em;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.2s cubic-bezier(.61,.2,.43,.98);
}

.bookmosaic a:hover {
    color: #D4D5D8;
}

/*====MEDIAQUERY=====================================================================*/

@media only screen and (max-width: 1199px) {
    .page {
        grid-template: "genre title" 110px "genre books" 1fr / 1fr 3fr;
    }
    .title h1 {
        font-size: 0.9em;
        padding-bottom: 1.2em;
        line-height: 1em;
    }
    .genrelist-category {
        font-size: 0.8em;
    }

    .bookmosaic ul {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 992px) {
    .page {
        grid-template: "genre title" 110px "genre books" 1fr / 1fr 2fr;
    }

    .genrelist-category {
        font-size: 0.8em;
    }

    .bookmosaic ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .bookmosaic-img {
        height: 160px;
    }

}

@media only screen and (max-width: 850px) {

    .page {
        width: 100vw;
        display: block;
        height: 100vh;
    }
    .title {
        margin: 4em 0 0 0;
        padding: 0;
        display: block;
        width: 91vw;
        border: none;
    }

    .title-header {
        padding-left: 2em;

    }

    .date {
        text-align: right;
        padding-bottom: 1em;
    }
    .welcome {
        width: 100%;
        height: 70vh;
        background-size: 95%;
    }

    .welcome p {
        width: 80%;
    }

    .visited {
        margin-right: 2em;
    }
    .books {
        width: 100%;
    }

    .menu-toggler {
        position: absolute;
        z-index: 100;
        top: 20px;
        left: 2em;
        height: 28px;
        width: 28px;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .menu-toggler span,
    .menu-toggler span::before,
    .menu-toggler span::after {
        position: absolute;
        content: '';
        width: 28px;
        height: 2.5px;
        background: #C8CFD0;
        border-radius: 20px;
        transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
    }

    .menu-toggler span::before {
        top: -8px;
    }

    .menu-toggler span::after {
        top: 8px;
    }

    .menu-toggler.active > span  {
     background: transparent;
 }

    .menu-toggler.active > span::before,
    .menu-toggler.active > span::after {
     /*background: #001D2B;*/
     top: 0;
 }

    .menu-toggler.active > span::before  {
     transform: rotate(-225deg);
 }

    .menu-toggler.active > span::after  {
     transform: rotate(225deg);
 }

    .genrelist {
        z-index: 99;
        margin: 0;
        width: 75vw;
        height: 100vh;
        max-height: 100vh;
        position: fixed;
        left: -75vw;
        top: 0;
        transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
        background-image: linear-gradient(to left,#76A199 50%,#468778);
    }

    .genrelist.active {
        left:0;
    }

    .genrelist-header {
        padding-top: 7.5em;
    }

    .bookmosaic ul {
        display: block;
    }

    .bookmosaic li {
        margin-bottom: 2em;
    }

    .book-main {
        flex-flow: column;
    }

    .bookdetail-body{
        margin-right: 2em;
    }

    .bookdetail-body p:last-child {
        margin: 1em 0;
    }

    .booklist li:last-child {
        border-width: 1px;
        border-style: solid;
        border-image-source: linear-gradient(to left,#001D2B 12%, #76A199);
        border-image-slice: 1;
    }

    .bookmosaic a {
        padding-bottom: 1.5em;
    }

}
